<!-- BasariliUyeOl.cshtml -->
<div class="container">
    <div class="basarili-mesaj">
        Üyelik Başarılı! Lütfen Giriş Yapınız.
    </div>
    <a href="@Url.Action("Giris", "Giris")" class="btn btn-girisyap">Giriş Yap</a>
</div>
