@{
    ViewData["Title"] = "Doktor Eklendi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HastaneRandevuSistemiDbContext _ctx = HastaneRandevuSistemiDbContext.getInstance();
    ;
}
@model DoktorDbo
<div class="container mt-5">
    <h2>Doktor Başarıyla Eklendi</h2>
    <p>ad: @Model.ToString()</p>
</div>
