@{
    ViewBag.Title = "Magic Health - Randevu Sistemi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center mt-5">
    <h1 class="display-4">Magic Health</h1>
    <p class="lead">Hastane Randevu Sistemi</p>
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "Hasta")" class="btn btn-primary btn-lg mr-3">Hasta Kayıt</a>
    <a href="@Url.Action("DoktorGirisi", "Giris")" class="btn btn-success btn-lg mr-3">Doktor Girişi</a>
    <a href="@Url.Action("Giris", "Hasta")" class="btn btn-info btn-lg mr-3">Hasta Girişi</a>
    <a href="@Url.Action("Index", "AdminPaneli")" class="btn btn-danger btn-lg">Admin Paneli</a>
</div>
