@model object

@{
    ViewData["Title"] = "Giris";
}

<style>
    
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('~/images/arkaplan.jpg'); /* Arka plan resminin dosya yolu */
        background-size: cover; /* Resmi kaplamak için */
        background-position: center; /* Resmin ortalanması için */
        background-repeat: no-repeat; /* Tekrar etmemesi için */
        min-height: 100vh; /* Ekranın tamamını kaplaması için */
        display: flex;
        align-items: center;
    }

    body {
        background-color: rgb(224, 220, 242, 11);
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-button {
        width: 100%;
        margin-bottom: 10px;
    }
    .custom-button {
        width: 100%;
        margin-bottom: 10px;
    }


    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-button {
        width: 100%;
        margin-bottom: 10px;
    }

</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 style="color: #1F7373; font-weight: bold;" class="text-center mb-4">MagicHealth Hekim Randevu Sistemine Hoşgeldiniz</h2>
            <img src="~/images/arkaplan.jpg" class="img-fluid mb-4" alt="Hastane Arkaplan Resmi">
            <div class="button-container">
                <button class="btn btn-outline-dark custom-button" onclick="window.location.href='@Url.Action("UyeOl", "UyeOl")'">Üye Ol</button>
                <button class="btn btn-outline-dark custom-button" onclick="window.location.href='@Url.Action("KullaniciGirisi", "KullaniciGirisi")'">Kullanıcı Girişi</button>
                <button class="btn btn-outline-dark custom-button" onclick="window.location.href='@Url.Action("AdminPaneli", "AdminPaneli")'">Admin Paneli</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap ve jQuery kütüphaneleri -->
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>




